doctype html
html
  head
    title Page Not Found
    link(rel='stylesheet', href='/stylesheets/style.css')
  h1 Page Not Found
  p Sorry! We could not find the page you were looking for.
  br
  p
    a.button(href='/books/page/1') Home
